<!--<!doctype html>-->

<!--<html ng-app="app">-->

<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

<!--  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>-->
<!--  <script src="../index.js"></script>-->
<!--</head>-->

<!--<body>-->

<!--<div class="container" ng-controller="indexController">-->
<!--  <h1 style="color: green">April Market</h1>-->

<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">ID</th>-->
<!--      <th scope="col">Title</th>-->
<!--      <th scope="col">Price</th>-->
<!--      <th scope="col">Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr ng-repeat="p in products">-->
<!--      <td>{{p.id}}</td>-->
<!--      <td>{{p.title}}</td>-->
<!--      <td>{{p.price}}</td>-->
<!--      <td>-->
<!--        <button type="button" class="btn btn-success btn-sm" ng-click="addProductToCart()">Add product to cart</button>-->
<!--&lt;!&ndash;        <button class="btn btn-danger" ng-click="clickOnProduct(p)">Console info??</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-danger" ng-click="pingProduct(p.id)">Ping</button>&ndash;&gt;-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--  <button class="btn btn-outline-success btn-sm" ng-click="init()">Refresh</button>-->

<!--  <hr color = green />-->

<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <h3 style="color: green">Add product to base</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    <form novalidate ng-submit="createNewProduct()">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="inputTitle" class="form-label">Title</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" class="form-control" ng-model="newProduct.title" id="inputTitle" aria-describedby="titleHelp">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="inputPrice" class="form-label">Price</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" class="form-control" ng-model="newProduct.price" id="inputPrice" aria-describedby="priceHelp">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--  <hr color = green>-->

<!--  <div>-->
<!--    <h3 style="color: green">Cart</h3>-->

<!--    <table class="table">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th scope="col">Title</th>-->
<!--        <th scope="col">Price</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr ng-repeat="p in cartproducts">-->
<!--        <td>{{p.title}}</td>-->
<!--        <td>{{p.price}}</td>-->

<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <button type="button" class="btn btn-outline-danger btn-sm" ng-click="clear()">Clear cart</button>-->

<!--  </div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->